body {
	margin: 0;
}

.root {
	background: rgb(246, 246, 246);
	height: 100vh;
}

.MuiGrid-container {
	&:not(.MuiGrid-item) {
		height: 100%;
	}
}

.back-arrow-container {
	width: 500px;
	display: flex;
	cursor: pointer;
}